In [2]:
import pandas as pd

In [102]:
X_train = pd.read_csv('../X_train_J01Z4CN.csv')
X_prix = pd.read_csv('prixm2-loyer-communes-2019.csv')

In [17]:
X_prix.head()

,X,ID,INSEE_COM,INSEE_DEP,INSEE_REG,CODE_EPCI,NOM_COM_M,POPULATION,Nb_Ventes,PrixMoyen_M2,PrixMoyen_M2_1819,loyer_apparts,loyer_maisons,R2appart,R2maison
0,23997,ARR_MUNI0000000009736033,75120,75,11,NaN,PARIS 20E ARRONDISSEMENT,195604,2039,8604,8333.889908,25.218065,25.531480,0.852356,0.742222
1,23507,ARR_MUNI0000000009736034,75119,75,11,NaN,PARIS 19E ARRONDISSEMENT,186393,1838,8263,8065.033908,25.184404,24.829411,0.846309,0.742222
2,13728,ARR_MUNI0000000009736035,75111,75,11,NaN,PARIS 11E ARRONDISSEMENT,147017,1127,9819,9534.497086,29.223528,30.939697,0.878908,0.780490
3,976,ARR_MUNI0000000009736040,75118,75,11,NaN,PARIS 18E ARRONDISSEMENT,195060,3503,9162,8865.722421,27.585489,28.273577,0.829814,0.742222
4,4795,ARR_MUNI0000000009736041,75117,75,11,NaN,PARIS 17E ARRONDISSEMENT,167835,2775,10205,9910.312961,30.177892,30.443554,0.934215,0.842951

In [20]:
# Chercher la ligne dont le nom de la commune est 'VILLENEUVE-LOUBET' ou 'VILLENEUVE LOUBET'

X_prix[X_prix['NOM_COM_M'] == 'VILLENEUVE-LOUBET']

X_prix[X_prix['NOM_COM_M'] == 'VILLENEUVE LOUBET']

,X,ID,INSEE_COM,INSEE_DEP,INSEE_REG,CODE_EPCI,NOM_COM_M,POPULATION,Nb_Ventes,PrixMoyen_M2,PrixMoyen_M2_1819,loyer_apparts,loyer_maisons,R2appart,R2maison
30502,28791,COMMUNE_0000000009759378,6161,6,93,240600585.0,VILLENEUVE LOUBET,14672,514,5175,5126.873267,17.814233,17.313669,0.809506,0.847442

In [103]:
# Supprimer le mot "ARRONDISSEMENT" de la colonne NOM_COM_M

X_prix['NOM_COM_M'] = X_prix['NOM_COM_M'].str.replace('ARRONDISSEMENT', '')
X_prix['NOM_COM_M'] = X_prix['NOM_COM_M'].str.replace('1E', '1eme')
X_prix['NOM_COM_M'] = X_prix['NOM_COM_M'].str.replace('2E', '2eme')
X_prix['NOM_COM_M'] = X_prix['NOM_COM_M'].str.replace('3E', '3eme')
X_prix['NOM_COM_M'] = X_prix['NOM_COM_M'].str.replace('4E', '4eme')
X_prix['NOM_COM_M'] = X_prix['NOM_COM_M'].str.replace('5E', '5eme')
X_prix['NOM_COM_M'] = X_prix['NOM_COM_M'].str.replace('6E', '6eme')
X_prix['NOM_COM_M'] = X_prix['NOM_COM_M'].str.replace('7E', '7eme')
X_prix['NOM_COM_M'] = X_prix['NOM_COM_M'].str.replace('8E', '8eme')
X_prix['NOM_COM_M'] = X_prix['NOM_COM_M'].str.replace('9E', '9eme')
X_prix['NOM_COM_M'] = X_prix['NOM_COM_M'].str.replace('10E', '10eme')
X_prix['NOM_COM_M'] = X_prix['NOM_COM_M'].str.replace('11E', '11eme')
X_prix['NOM_COM_M'] = X_prix['NOM_COM_M'].str.replace('12E', '12eme')
X_prix['NOM_COM_M'] = X_prix['NOM_COM_M'].str.replace('13E', '13eme')
X_prix['NOM_COM_M'] = X_prix['NOM_COM_M'].str.replace('14E', '14eme')
X_prix['NOM_COM_M'] = X_prix['NOM_COM_M'].str.replace('15E', '15eme')
X_prix['NOM_COM_M'] = X_prix['NOM_COM_M'].str.replace('16E', '16eme')
X_prix['NOM_COM_M'] = X_prix['NOM_COM_M'].str.replace('17E', '17eme')
X_prix['NOM_COM_M'] = X_prix['NOM_COM_M'].str.replace('18E', '18eme')
X_prix['NOM_COM_M'] = X_prix['NOM_COM_M'].str.replace('19E', '19eme')
X_prix['NOM_COM_M'] = X_prix['NOM_COM_M'].str.replace('20E', '20eme')

X_prix['NOM_COM_M'] = X_prix['NOM_COM_M'].str.replace('1eme ', '1eme')
X_prix['NOM_COM_M'] = X_prix['NOM_COM_M'].str.replace('2eme ', '2eme')
X_prix['NOM_COM_M'] = X_prix['NOM_COM_M'].str.replace('3eme ', '3eme')
X_prix['NOM_COM_M'] = X_prix['NOM_COM_M'].str.replace('4eme ', '4eme')
X_prix['NOM_COM_M'] = X_prix['NOM_COM_M'].str.replace('5eme', '5eme')
X_prix['NOM_COM_M'] = X_prix['NOM_COM_M'].str.replace('6eme ', '6eme')
X_prix['NOM_COM_M'] = X_prix['NOM_COM_M'].str.replace('7eme ', '7eme')
X_prix['NOM_COM_M'] = X_prix['NOM_COM_M'].str.replace('8eme ', '8eme')
X_prix['NOM_COM_M'] = X_prix['NOM_COM_M'].str.replace('9eme ', '9eme')
X_prix['NOM_COM_M'] = X_prix['NOM_COM_M'].str.replace('10eme ', '10eme')
X_prix['NOM_COM_M'] = X_prix['NOM_COM_M'].str.replace('11eme', '11eme')
X_prix['NOM_COM_M'] = X_prix['NOM_COM_M'].str.replace('12eme ', '12eme')
X_prix['NOM_COM_M'] = X_prix['NOM_COM_M'].str.replace('13eme ', '13eme')
X_prix['NOM_COM_M'] = X_prix['NOM_COM_M'].str.replace('14eme ', '14eme')
X_prix['NOM_COM_M'] = X_prix['NOM_COM_M'].str.replace('15eme ', '15eme')
X_prix['NOM_COM_M'] = X_prix['NOM_COM_M'].str.replace('16eme ', '16eme')
X_prix['NOM_COM_M'] = X_prix['NOM_COM_M'].str.replace('17eme ', '17eme')
X_prix['NOM_COM_M'] = X_prix['NOM_COM_M'].str.replace('18eme ', '18eme')
X_prix['NOM_COM_M'] = X_prix['NOM_COM_M'].str.replace('19eme ', '19eme')
X_prix['NOM_COM_M'] = X_prix['NOM_COM_M'].str.replace('20eme ', '20eme')

In [104]:
# Passer en minuscule la colonne 'NOM_COM_M'

X_prix['NOM_COM_M'] = X_prix['NOM_COM_M'].str.lower()

# Enlever les "-" entre les mots

X_prix['NOM_COM_M'] = X_prix['NOM_COM_M'].str.replace('-', ' ')

In [105]:
X_train['city'] = X_train['city'].str.replace('-', ' ')

In [68]:
X_prix.head()

,X,ID,INSEE_COM,INSEE_DEP,INSEE_REG,CODE_EPCI,NOM_COM_M,POPULATION,Nb_Ventes,PrixMoyen_M2,PrixMoyen_M2_1819,loyer_apparts,loyer_maisons,R2appart,R2maison
0,23997,ARR_MUNI0000000009736033,75120,75,11,NaN,paris 20eme,195604,2039,8604,8333.889908,25.218065,25.531480,0.852356,0.742222
1,23507,ARR_MUNI0000000009736034,75119,75,11,NaN,paris 19eme,186393,1838,8263,8065.033908,25.184404,24.829411,0.846309,0.742222
2,13728,ARR_MUNI0000000009736035,75111,75,11,NaN,paris 11eme,147017,1127,9819,9534.497086,29.223528,30.939697,0.878908,0.780490
3,976,ARR_MUNI0000000009736040,75118,75,11,NaN,paris 18eme,195060,3503,9162,8865.722421,27.585489,28.273577,0.829814,0.742222
4,4795,ARR_MUNI0000000009736041,75117,75,11,NaN,paris 17eme,167835,2775,10205,9910.312961,30.177892,30.443554,0.934215,0.842951

In [106]:
# Joindre les deux tables

X_train = X_train.merge(X_prix, how='left', left_on='city', right_on='NOM_COM_M')

In [107]:
X_train.head()

,id_annonce,property_type,approximate_latitude,approximate_longitude,city,postal_code,size,floor,land_size,energy_performance_value,...,CODE_EPCI,NOM_COM_M,POPULATION,Nb_Ventes,PrixMoyen_M2,PrixMoyen_M2_1819,loyer_apparts,loyer_maisons,R2appart,R2maison
0,35996577,appartement,43.643880,7.117183,villeneuve loubet,6270,63.0,NaN,NaN,NaN,...,240600585.0,villeneuve loubet,14672.0,514.0,5175.0,5126.873267,17.814233,17.313669,0.809506,0.847442
1,35811033,appartement,45.695757,4.895610,venissieux,69200,90.0,3.0,NaN,223.0,...,200046977.0,venissieux,65405.0,183.0,2447.0,2358.490716,12.601794,10.931476,0.765442,0.718963
2,35731841,maison,47.966791,-1.220451,moutiers,35130,61.0,NaN,370.0,NaN,...,200070845.0,moutiers,1569.0,13.0,1165.0,1173.305556,8.822288,8.170142,0.732112,0.794460
3,35731841,maison,47.966791,-1.220451,moutiers,35130,61.0,NaN,370.0,NaN,...,200070159.0,moutiers,253.0,3.0,1319.0,1420.200000,10.679143,7.975469,0.800011,0.690770
4,35731841,maison,47.966791,-1.220451,moutiers,35130,61.0,NaN,370.0,NaN,...,200039022.0,moutiers,935.0,5.0,1078.0,1213.916667,7.221380,5.184474,0.798322,0.782418

In [108]:
# Nombres de valeurs manquantes
print(X_train.shape)
X_train.isnull().sum()

(42187, 42)

id_annonce                         0
property_type                      0
approximate_latitude               0
approximate_longitude              0
city                               0
postal_code                        0
size                             561
floor                          31674
land_size                      24136
energy_performance_value       20549
energy_performance_category    20549
ghg_value                      21123
ghg_category                   21123
exposition                     32077
nb_rooms                        1731
nb_bedrooms                     2992
nb_bathrooms                   14714
nb_parking_places                  0
nb_boxes                           0
nb_photos                          0
has_a_balcony                      0
nb_terraces                        0
has_a_cellar                       0
has_a_garage                       0
has_air_conditioning               0
last_floor                         0
upper_floors                       0
X                               4214
ID                              4214
INSEE_COM                       4214
INSEE_DEP                       4214
INSEE_REG                       4214
CODE_EPCI                       6858
NOM_COM_M                       4214
POPULATION                      4214
Nb_Ventes                       4214
PrixMoyen_M2                    4214
PrixMoyen_M2_1819               5341
loyer_apparts                   4214
loyer_maisons                   4214
R2appart                        4214
R2maison                        4214
dtype: int64

In [109]:
# Afficher 10 lignes oü le prix du mètre carré est manquant

X_train[X_train['loyer_apparts'].isnull()].head(10)

,id_annonce,property_type,approximate_latitude,approximate_longitude,city,postal_code,size,floor,land_size,energy_performance_value,...,CODE_EPCI,NOM_COM_M,POPULATION,Nb_Ventes,PrixMoyen_M2,PrixMoyen_M2_1819,loyer_apparts,loyer_maisons,R2appart,R2maison
30,36003641,terrain,45.424653,5.746687,les echelles,73360,589.0,NaN,589.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,36037549,propriété,46.785533,0.811513,la roche posay,86270,410.0,NaN,1800.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,35919751,divers,43.194771,5.803084,le beausset,83330,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,35812899,appartement,43.563478,4.084742,la grande motte,34280,110.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
107,35745483,appartement,48.854479,2.146318,la celle saint cloud,78170,69.0,1.0,NaN,223.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
126,35846253,divers,43.306158,3.471516,le cap d'agde,34300,31.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
128,35855691,appartement,46.153240,6.667105,les gets,74260,91.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
129,36029571,appartement,43.136454,6.360704,le lavandou,83980,5899.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
146,35910897,terrain,49.250756,-0.866151,le breuil en bessin,14330,507.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
162,35816329,terrain,48.833325,-1.214054,villedieu les poeles,50800,2000.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN